# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules

# CLIENT
/client/node_modules
/client/.pnp
/client/.pnp.js
/client/build
/client/public/apidoc

# testing
/client/coverage

# misc

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# SERVER
/server/node_modules
/server/docs
/server/.eslintcache
/server/.env
/server/dist